@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Signika:wght@300&family=Slackey&display=swap");

:root {
  --primary: #006877;
  --secondary: #FFF8EE;
  --tertiary: #FFEF60;
  --quaternary: #000;
  --quinary: #E9BBB5;
  --senary: #8EA4C8;
  --septenary: #9FCBB0;
  --octonary: #E7CBA9;
}

* {
  user-select: none;
}

.bg-yellow {
  background: #FCE883;
}

.section-1, .section-2 {
  padding: 130px 0;
}

.projects {
  padding-top: 100px;
  padding-bottom: 60px;
}

.title {
  font-family: 'Slackey', cursive;
  color: var(--primary);
  text-shadow: 0.0px 10.0px 0.02px var(--secondary), 9.8px 2.1px 0.02px var(--secondary), 4.2px -9.1px 0.02px var(--secondary), -8.0px -6.0px 0.02px var(--secondary), -7.6px 6.5px 0.02px var(--secondary), 4.8px 8.8px 0.02px var(--secondary), 9.6px -2.8px 0.02px var(--secondary), -0.7px -10.0px 0.02px var(--secondary), -9.9px -1.5px 0.02px var(--secondary), -3.5px 9.4px 0.02px var(--secondary), 8.4px 5.4px 0.02px var(--secondary), 7.1px -7.0px 0.02px var(--secondary), -5.4px -8.4px 0.02px var(--secondary), -9.4px 3.5px 0.02px var(--secondary), 1.4px 9.9px 0.02px var(--secondary), 10.0px 0.8px 0.02px var(--secondary), 2.9px -9.6px 0.02px var(--secondary), -8.7px -4.8px 0.02px var(--secondary), -6.6px 7.5px 0.02px var(--secondary), 5.9px 8.0px 0.02px var(--secondary), 9.1px -4.1px 0.02px var(--secondary), -2.1px -9.8px 0.02px var(--secondary), -10.0px -0.1px 0.02px var(--secondary), -2.2px 9.8px 0.02px var(--secondary), 9.1px 4.2px 0.02px var(--secondary), 6.1px -8.0px 0.02px var(--secondary), -6.5px -7.6px 0.02px var(--secondary), -8.8px 4.7px 0.02px var(--secondary), 2.7px 9.6px 0.02px var(--secondary), 10.0px -0.6px 0.02px var(--secondary), 1.5px -9.9px 0.02px var(--secondary), -9.3px -3.6px 0.02px var(--secondary), -5.5px 8.4px 0.02px var(--secondary), 7.0px 7.2px 0.02px var(--secondary), 8.5px -5.3px 0.02px var(--secondary), -3.4px -9.4px 0.02px var(--secondary), -9.9px 1.3px 0.02px var(--secondary), -0.8px 10.0px 0.02px var(--secondary), 9.6px 2.9px 0.02px var(--secondary), 4.9px -8.7px 0.02px var(--secondary), -7.5px -6.7px 0.02px var(--secondary), -8.1px 5.9px 0.02px var(--secondary), 4.0px 9.2px 0.02px var(--secondary), 9.8px -2.0px 0.02px var(--secondary), 0.2px -10.0px 0.02px var(--secondary), -9.7px -2.3px 0.02px var(--secondary), -4.3px 9.0px 0.02px var(--secondary), 7.9px 6.1px 0.02px var(--secondary);
}

.hero .section-1 {
  background-image: url("../img/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .section-2 {
  background-color: var(--quinary);
}

.hero .section-2 p {
  font-family: 'Signika', sans-serif;
}

.btn {
  background-color: var(--primary);
  box-shadow: var(--secondary) 5px 5px 0px;
  border-radius: 5px;
  transition: transform 200ms, box-shadow 200ms;
  padding: 8px 14px;
  font-size: 20px;
  color: var(--secondary);
  font-family: 'Potta One', cursive;
}

.btn:hover {
  color: var(--secondary);
  transform: translateY(4px) translateX(4px);
  box-shadow: var(--secondary) 0px 0px 0px;
}

@media screen and (max-width: 991px) {
  .hero .section-1 {
    height: 700px;
  }
}

@media screen and (max-width: 768px) {
  .hero .section-1 {
    height: 550px;
  }

  .title {
    text-shadow: 0.0px 5.0px 0.02px var(--secondary), 9.8px 2.1px 0.02px var(--secondary), 4.2px -9.1px 0.02px var(--secondary), -8.0px -6.0px 0.02px var(--secondary), -7.6px 6.5px 0.02px var(--secondary), 4.8px 8.8px 0.02px var(--secondary), 9.6px -2.8px 0.02px var(--secondary), -0.7px -5.0px 0.02px var(--secondary), -9.9px -1.5px 0.02px var(--secondary), -3.5px 9.4px 0.02px var(--secondary), 8.4px 5.4px 0.02px var(--secondary), 7.1px -7.0px 0.02px var(--secondary), -5.4px -8.4px 0.02px var(--secondary), -9.4px 3.5px 0.02px var(--secondary), 1.4px 9.9px 0.02px var(--secondary), 5.0px 0.8px 0.02px var(--secondary), 2.9px -9.6px 0.02px var(--secondary), -8.7px -4.8px 0.02px var(--secondary), -6.6px 7.5px 0.02px var(--secondary), 5.9px 8.0px 0.02px var(--secondary), 9.1px -4.1px 0.02px var(--secondary), -2.1px -9.8px 0.02px var(--secondary), -5.0px -0.1px 0.02px var(--secondary), -2.2px 9.8px 0.02px var(--secondary), 9.1px 4.2px 0.02px var(--secondary), 6.1px -8.0px 0.02px var(--secondary), -6.5px -7.6px 0.02px var(--secondary), -8.8px 4.7px 0.02px var(--secondary), 2.7px 9.6px 0.02px var(--secondary), 5.0px -0.6px 0.02px var(--secondary), 1.5px -9.9px 0.02px var(--secondary), -9.3px -3.6px 0.02px var(--secondary), -5.5px 8.4px 0.02px var(--secondary), 7.0px 7.2px 0.02px var(--secondary), 8.5px -5.3px 0.02px var(--secondary), -3.4px -9.4px 0.02px var(--secondary), -9.9px 1.3px 0.02px var(--secondary), -0.8px 5.0px 0.02px var(--secondary), 9.6px 2.9px 0.02px var(--secondary), 4.9px -8.7px 0.02px var(--secondary), -7.5px -6.7px 0.02px var(--secondary), -8.1px 5.9px 0.02px var(--secondary), 4.0px 9.2px 0.02px var(--secondary), 9.8px -2.0px 0.02px var(--secondary), 0.2px -5.0px 0.02px var(--secondary), -9.7px -2.3px 0.02px var(--secondary), -4.3px 9.0px 0.02px var(--secondary), 7.9px 6.1px 0.02px var(--secondary);
  }
}

@media screen and (max-width: 576px) {
  .hero .section-1 {
    height: 350px;
  }

  .skills .section-2 ul li {
    display: block;
  }

  .skills .section-2 ul li span.time::before {
    content: " | ";
  }

  .title {
    text-shadow: 0.0px 3.0px 0.02px var(--secondary), 9.8px 2.1px 0.02px var(--secondary), 4.2px -9.1px 0.02px var(--secondary), -8.0px -6.0px 0.02px var(--secondary), -7.6px 6.5px 0.02px var(--secondary), 4.8px 8.8px 0.02px var(--secondary), 9.6px -2.8px 0.02px var(--secondary), -0.7px -3.0px 0.02px var(--secondary), -9.9px -1.5px 0.02px var(--secondary), -3.5px 9.4px 0.02px var(--secondary), 8.4px 5.4px 0.02px var(--secondary), 7.1px -7.0px 0.02px var(--secondary), -5.4px -8.4px 0.02px var(--secondary), -9.4px 3.5px 0.02px var(--secondary), 1.4px 9.9px 0.02px var(--secondary), 3.0px 0.8px 0.02px var(--secondary), 2.9px -9.6px 0.02px var(--secondary), -8.7px -4.8px 0.02px var(--secondary), -6.6px 7.5px 0.02px var(--secondary), 5.9px 8.0px 0.02px var(--secondary), 9.1px -4.1px 0.02px var(--secondary), -2.1px -9.8px 0.02px var(--secondary), -3.0px -0.1px 0.02px var(--secondary), -2.2px 9.8px 0.02px var(--secondary), 9.1px 4.2px 0.02px var(--secondary), 6.1px -8.0px 0.02px var(--secondary), -6.5px -7.6px 0.02px var(--secondary), -8.8px 4.7px 0.02px var(--secondary), 2.7px 9.6px 0.02px var(--secondary), 3.0px -0.6px 0.02px var(--secondary), 1.5px -9.9px 0.02px var(--secondary), -9.3px -3.6px 0.02px var(--secondary), -5.5px 8.4px 0.02px var(--secondary), 7.0px 7.2px 0.02px var(--secondary), 8.5px -5.3px 0.02px var(--secondary), -3.4px -9.4px 0.02px var(--secondary), -9.9px 1.3px 0.02px var(--secondary), -0.8px 3.0px 0.02px var(--secondary), 9.6px 2.9px 0.02px var(--secondary), 4.9px -8.7px 0.02px var(--secondary), -7.5px -6.7px 0.02px var(--secondary), -8.1px 5.9px 0.02px var(--secondary), 4.0px 9.2px 0.02px var(--secondary), 9.8px -2.0px 0.02px var(--secondary), 0.2px -3.0px 0.02px var(--secondary), -9.7px -2.3px 0.02px var(--secondary), -4.3px 9.0px 0.02px var(--secondary), 7.9px 6.1px 0.02px var(--secondary);
  }
}

/* SKILLS */ 

.skills .section-1 {
  background-color: var(--senary);
}

.skills .section-1 h6 {
  color: var(--secondary);
  font-family: 'Signika', sans-serif;
}

.list-skill{
  /* width: 410px; */
  margin:0 auto;
}

.list-skill ol {
  list-style-type: none;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  counter-reset: li-counter;
}

.list-skill ol li {
  position: relative;
  margin-bottom: 1.5em;
  padding: 0.5em;
  background-color: var(--quinary);
  padding-left: 40px;
  font-weight: 450;
}

.list-skill li:hover {
  box-shadow:inset -1em 0 var(--primary);
  -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
  transition: box-shadow 0.5s;
}
  
.list-skill ol li:before {
  position: absolute;
  top: -0.1em;
  left: -0.5em;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4;
  border-radius: 100%;
  font-size: 1.9em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: var(--primary);
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  z-index: 99;
  overflow: hidden;
  content: counter(li-counter);
  counter-increment: li-counter;
}

/* PORTFOLIOS - Owl Carousel */

.projects {
  background-color: var(--octonary);
}

.card {
  border: none;
  border-radius: 0px;
  padding: 12px;
}

.card .card-img-top {
  border-radius: 0px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card .card-text {
  font-family: 'Signika', sans-serif;
}

.card:hover .card-img-top {
  opacity: .8;
}

.projects .owl-carousel .owl-nav button {
  position: absolute;
  color: var(--secondary) !important;
  left: -30px;
  top: 50%;
}

.projects .owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -30px;
}

.projects .owl-carousel .owl-nav button:hover {
  color: var(--tertiary);
}

.projects .owl-carousel .owl-dots button {
  width: 10px;
  height: 10px;
  background: rgb(223, 223, 223);
  display: inline-block;
  margin: 5px;
  border-radius: 50%;
}

.projects .owl-carousel .owl-dots button.active {
  background: var(--tertiary);
}

.projects .owl-carousel .owl-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.projects .card-body a {
  text-decoration: none;
  color: var(--quaternary);
}

.projects .card-body .card-title,
.projects .card-body p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* EXPERIENCES */

.skills .section-2 {
  background-color: var(--septenary);
}

.stepprogress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}

.stepprogress::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
  border-left: 2px solid var(--tertiary);
}

.stepprogress-item {
  position: relative;
  counter-increment: list;
}

.stepprogress-item:not(:last-child) {
  padding-bottom: 20px;
}

.stepprogress-item::before {
  display: inline-block;
  content: '';
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.stepprogress-item::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -37px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--primary);
}

.experience-title {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
  color: var(--secondary);
}

.experience-title .place a {
  color: var(--primary);
  text-decoration: none;
}

.experience-title .place a:hover {
  color: var(--tertiary);
}

.experience-title .year {
  color: var(--tertiary);
  font-weight: normal;
}

.jumbotron {
  padding-top: 50px;
  padding-bottom: 120px;
}

.btn-back {
  background: var(--senary);
  padding: 5px 7px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.all-projects {
  margin-top: -95px;
}

.typing-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 16.7ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  border-right: 2.5px solid;
  color: rgb(236, 47, 110);
}

@keyframes typing {
  from {
      width: 0;                
  }
}

@keyframes blink {
  50% {
      border-color: transparent;
  }
}